* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(/assets/background.jpg);
    background-size: 100%;
    font-family: 'Times New Roman', Times, serif;
}

/*************
*** HEADER ***
*************/

#main {
    background-color: rgba(139, 202, 186, 0.92);
    border-radius: 8px;
    height: 100%;
    width: 97%;
    margin: 0 auto;
    margin-top: 1.5rem;
    padding-bottom: 2rem;
    margin-bottom: 2rem;
}

header {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2.5rem;
}

#title {
    font-size: 46px;
    margin-bottom: 1.2rem;
    font-weight: bold;
}

.header__text {
    font-size: 18px;
    font-weight: 500;
    text-align: center;
}

/************
*** IMAGE ***
************/

#img-div {
    background-color: rgba(125, 175, 94, 0.4);
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2rem;
    border-radius: 8px;
}

#image {
    padding-top: 1.5rem;
    margin-bottom: 1rem;
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}

#image-caption {
    padding-bottom: 1rem;
}

/*******************
*** INFO SECTION ***
*******************/

#tribute-info {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
}

.info__title {
    text-align: center;
    margin-bottom: 2rem;
}

#tribute-info p {
    margin-bottom: 1.5rem;
}

#tribute-info img {
    width: 400px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    display: block;
    margin: auto;
    margin-bottom: 1.5rem;
}

.free__time {
    width: 80%;
    margin: auto;
    text-align: justify;
    font-size: 20px;
    font-size: 24px;
    font-weight: bold;
    margin-top: 3rem;
}

.free__time a {
    color: rgb(73, 73, 219);
}

/*********************
*** RESPONSIVENESS ***
*********************/

@media only screen and (max-width: 960px) {

/*************
*** HEADER ***
*************/

#main {
    margin-top: 0.7rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
}

header {
    padding-top: 1rem;
}

#title {
    font-size: 32px;
    margin-bottom: 1rem;
    font-weight: bold;
}

.header__text {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
}

/************
*** IMAGE ***
************/

#img-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    border-radius: 8px;
}

#image {
    padding: 0.8rem 0.5rem 0 0.5rem;
    margin-bottom: 0.6rem;
}

#image-caption {
    font-size: 14px;
    text-align: center;
}

/*******************
*** INFO SECTION ***
*******************/

#tribute-info {
    font-size: 16px;
}

.info__title {
    margin-bottom: 1rem;
}

#tribute-info p {
    margin-bottom: 1rem;
}

#tribute-info img {
    width: 200px;
    height: 200px;
    margin-bottom: 1rem;
}

.free__time {
    font-size: 18px;
    font-weight: bold;
    margin-top: 1.5rem;
}

}